@page "/transactions"
@using BankSystem.Data
@using Data.Models
@using Data.Repositories
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.EntityFrameworkCore
@using WebApp.DTOs
@using WebApp.Services
@attribute [StreamRendering]
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService
@inject TransactionService TransactionService

<PageTitle>Transactions</PageTitle>

<div class="d-flex flex-row justify-content-between">
    <h1>Transactions</h1>
    <div class="d-flex flex-row justify-content-between gap-3 py-1">
        <button class="btn btn-sm btn-primary">+ Send funds</button>
        <button class="btn btn-sm btn-secondary">+ Receive funds</button>
    </div>
</div>

<p>Here you can see your financial transactions</p>

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table border">
    <thead class="table-secondary">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Amount (USD)</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@(transactions.IndexOf(transaction) + 1)</td>
                    <td>@transaction.TransactionDate.ToShortDateString()</td>
                    <td>@transaction.From?.AccountNumber</td>
                    <td>@transaction.To?.AccountNumber</td>
                    <td class=" @(transaction.Amount < 0 ? "table-danger" : "table-success")">@transaction.Amount
                    </td>
                    <td>Out</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TransactionDTO>? transactions = null;

    protected override async Task OnInitializedAsync()
    {
        // Get id from current user
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var username = authState.User?.Identity?.Name;
        if (username == null)
        {
            return;
        }

        var userId = await UserService.GetIdByUsernameAsync(username);
        transactions = await TransactionService.GetAllTransactionsByIdAsync(userId);
    }
}
