@namespace WebApp.Components.CustomComponents
@using WebApp.DTOs
@using WebApp.Settings
@inject CultureOptions Culture

<div class="card-scroller">
    @foreach (var bankAccount in CardAccounts)
    {
        <DebitCard
            CoverArt="@bankAccount.CoverArt"
            Title="@bankAccount.Owner.Name"
            DescriptionTop="@bankAccount.Balance.ToString("C", Culture.Info)"
            DescriptionBottom="@bankAccount.AccountNumberFormatted"
            Id="@bankAccount.AccountNumber" />
    }
</div>

@code {
    [Parameter]
    public ICollection<BankAccountDto> CardAccounts { get; set; }
}